<!doctype html>
<html lang="eng" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/master :: header" />


<body>

    
    <header th:replace="common/master :: common-header" />
    
    <section id="resent-job-post" class="mt-10">
        <div class="vertical-space-100"></div>
        <div class="vertical-space-101"></div>
        <div class="container text-center">
            <h3 class="text-center">Uploaded Posts</h3>
            <div class="vertical-space-30"></div>
            Number of Posts: <span th:text="${noOfPosts}"></span> post(s)
            <div class="vertical-space-60"></div>
            
            <div th:replace="common/master :: jobPost" />
            
            <div class="vertical-space-20"></div>
            <div class="job-list" th:if="${totalPages!=0}">
                <!-- <a href="#" class="Open-Jobs-Page margin-auto">Open Jobs Page<i class="large material-icons float-right">trending_flat</i></a> -->
                <ul class="pagination justify-content-end margin-auto">
                    <li class="page-item" th:if="${hasPrevious}"><a class="page-link pdding-none" th:href="@{/allJobs?pageNo=}+${currentPage-1}"><i class=" material-icons keyboard_arrow_left_right">keyboard_arrow_left</i></a></li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages, 1)}"><a class="page-link" th:classappend="${currentPage==i}? 'active'" th:href="@{/allJobs?pageNo=}+${i}" th:text="${i}"></a></li>
                    <li class="page-item" th:if="${hasNext}">
                        <a class="page-link pdding-none" th:href="@{/allJobs?pageNo=}+${currentPage+1}"> <i class=" material-icons keyboard_arrow_left_right">keyboard_arrow_right</i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="vertical-space-60"></div>
    </section>
    
    <footer th:replace="common/master :: footer" />
    
    <div th:replace="common/master :: common-script" />

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
        function deletePost(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                    )
                    window.location="/deletePost/"+id;
                }
            })
        }

        
        function success(){
        	$('#submit-btn').show();
        	$('#loader').hide();
            swal("Good Luck!", "Email successfully Sent!", "success");
        }	

    </script>
    
</body>

</html>